/* Simple CSS Reset */
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
	--background-page: #214f68;

	--color-not-painted: white;
	--color-painted: #e87742;
	--border-color: #e87742;

	--color-button: #e87742;

	--size-block: 30px;
}

body {
	background: var(--background-page);
}

a {
	text-decoration: none;
	color: var(--color-painted);
}

a:hover {
	color: yellow;
}

.social-buttons {
	margin-top: 30px;
	text-align: center;
}

.wrapper {
	/* Centralize the main wrapper vertically and horizontally */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Centralize the main wrapper vertically and horizontally */
}

.row div {
	display: inline-block;

	border: 1px solid var(--border-color);

	margin: -3px;

	width: var(--size-block);
	height: var(--size-block);
}

.not-painted {
	background: var(--color-not-painted);
}

.painted {
	background: var(--color-painted);
}

#reset {
	margin-bottom: 30px;
	padding: 10px;
	width: 100%;

	background: var(--color-button);
	color: white;
}


@media screen and (max-width: 890px) {
	.row div {
		margin: -3px;

		width: calc( var(--size-block) - 5px);
		height: calc( var(--size-block) - 5px);
	}
}

@media screen and (max-width: 730px) {
	.row div {
		margin: -3px;

		width: calc( var(--size-block) - 10px);
		height: calc( var(--size-block) - 10px);
	}
}

@media screen and (max-width: 570px) {
	.row div {
		margin: -3px;

		width: calc( var(--size-block) - 15px);
		height: calc( var(--size-block) - 15px);
	}

	.row {
		margin-bottom: -5px;
	}
}

@media screen and (max-width: 410px) {
	.row div {
		margin: -3px;

		width: calc( var(--size-block) - 20px);
		height: calc( var(--size-block) - 20px);
	}

	.row {
		margin-bottom: -10px;
	}

	.social-buttons {
		font-size: .7em;
	}
}