/* Simple CSS Reset */
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
	--background-color-group: white;
	--border-color: black;
}

.wrapper {
	/* Centralize the main wrapper vertically and horizontally */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Centralize the main wrapper vertically and horizontally */
}


.row div {
	display: inline-block;
	background: var(--background-color-group);

	border: 1px solid var(--border-color);

	margin: -3px;

	width: 40px;
	height: 40px;


}

.row div:hover {
	background: yellow;

}

#reset {
	width: 100%;
}