/* Simple CSS Reset */
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
	--background-color-group: red;
}

.row div {
	display: inline-block;
	background: var(--background-color-group);
	width: 20px;
	height: 20px;

	
}