/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display');

/* Simple CSS Reset */
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* Simple CSS Reset */

/* Vars CSS */
:root {
	--background-page: #ea9c5d;  
	--background-problems: #433740;
	--background-button: white;
	--background-button-pressed: #e5dddb;
	--text-color: #e5dddb;
}
/* Vars CSS */

body {
	background: var(--background-page);
}

.problems {
	background: var(--background-problems);

	padding: 50px;
	margin: 30px;

	overflow: hidden;
}

.problems p {
	display: inline-block;
}

.problems p {
	padding: 20px 0px 20px 0px;
}

.input-button-response {
	text-align: center;
}

.response-problem {
	font-size: 1.2em;
}

h1 {
	text-align: center;
	color: var(--text-color);
	font-family: 'Cinzel', serif;
}
p {
	color: var(--text-color);
	text-align: center;
	font-family: 'Playfair Display', serif;
}

input {
	padding: 10px;
}

button {
	padding: 10px;
	background: var(--background-button);
	border: 1px solid var(--background-button);
}

button:hover {
	border: 1px solid yellow;
}

button:active{
	border: 1px solid black;
	background: var(--background-button-pressed);
}

a {
	text-decoration: none;
}

.social-buttons {
	margin-top: 80px;
	text-align: center;
}
.social-buttons > a:hover {
	color: #41555f;
}
.social-buttons > a {
	margin-right: 10px;
	color: var(--background-problems);
}
.social-buttons > a:last-child { /* remove the margin of the last */
	margin-right: 0px; /* sometimes, I can remove a margin left from the first with :first-child too*/
}


@media screen and (max-width: 450px) {
	.quantity {
		width: 100%;
	}

	.button-calculate-problems {
		width: 100%;
		margin-top: 10px;
	}
}