/* Simple CSS Reset */
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
	--background-problems: #6e6964;
	--background-button: white;
	--background-button-pressed: yellow;
	--text-color: white;
}

body {
	background: #F9F9FA;
}

.problems {
	background: var(--background-problems);

	padding: 50px;
	margin: 30px;

	overflow: hidden;
}

.problems p {
	display: inline-block;
}

.problems p {
	padding: 20px 0px 20px 0px;
}

.input-button-response {
	text-align: center;
}

h1 {
	text-align: center;
	color: var(--text-color);
}
p {
	color: var(--text-color);
	text-align: center;
}

input {
	padding: 10px;
}

button {
	padding: 10px;
	background: var(--background-button);
	border: 1px solid var(--background-button);
}

button:hover {
	border: 1px solid yellow;
};

button:active{
	border: 1px solid black;
	background: var(--background-button-pressed);
};
